/* Josh W Comeau's CSS Reset, condensed joshwcomeau.com */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;text-align: center;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}


/* Nav Bar */
header {background-color: orange;}
section {max-width: 1200px;
	text-align: left;
	margin: 0px auto;}
nav {background-color: yellow;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-between;
	justify-content: center;}
nav ul {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	justify-content: center;
	justify-items: center;}
nav li {
	background-color: blue;
	border: 1px solid black;
	list-style: none;
	width: auto
	}
nav li a {
	background-color: orange;
	display: block;
	}
h1 {background-color: red;height: 33px;grid-column-end: span 3;}
h1 a {
	background-color: orange;
	display: block;}


/* Body */
main {background: gray;}
article {
	background-color: yellow;
	max-width: 1200px;
	margin: 0px auto;
	text-align: left;
	align-content: flex-start;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 300px 1fr;
	grid-column-gap: 0;}
.intro {grid-column-end: span 3;}
.tagline {grid-column-end: span 3;}
.img {grid-column: 1;width: 300px;grid-row-start: 1;grid-row-end: 4;}
.bio {grid-column-start: 2;grid-column-end: 5;}
h2 {background-color: green;}
h3 {background-color: gray;}
dl {background-color: coral;}
dt {}
dd {}

/* Footer */
footer {background-color: blue;}